PiPorDataWebService/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PiPorDataWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PiPorDataWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Utilizador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utilizador" nillable="true" type="tns:Utilizador" />
  <xs:complexType name="ArrayOfFuncionario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario" nillable="true" type="tns:Funcionario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario" nillable="true" type="tns:ArrayOfFuncionario" />
  <xs:complexType name="Funcionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soma1" type="xs:int" />
      <xs:element minOccurs="0" name="Soma2" type="xs:int" />
      <xs:element minOccurs="0" name="Soma3" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
  <xs:complexType name="ArrayOfAcao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Acao" nillable="true" type="tns:Acao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcao" nillable="true" type="tns:ArrayOfAcao" />
  <xs:complexType name="Acao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estabelecimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soma" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Acao" nillable="true" type="tns:Acao" />
</xs:schema>